 .a { color: #031A16; background-color: #000000; }
 .a { color: #031A16; background-color: #1a1a1a; }
 .a { color: #031A16; background-color: #1a1d21; }
 .a { color: #031A16; background-color: #1f232b; }
 .a { color: #031A16; background-color: #232831; }
 .a { color: #031A16; background-color: #262a34; }
 .a { color: #031A16; background-color: #273445; }
 .a { color: #031A16; background-color: #282d37; }
 .a { color: #031A16; background-color: #292d38; }
 .a { color: #031A16; background-color: #2a2f3a; }
 .a { color: #031A16; background-color: #2b313c; }
 .a { color: #051C17; background-color: #2f3441; }
 .a { color: #051C17; background-color: #2f3642; }
 .a { color: #051C17; background-color: #303643; }
 .a { color: #051C17; background-color: #31363d; }
 .a { color: #051C17; background-color: #323946; }
 .a { color: #051C17; background-color: #333; }
 .a { color: #051C17; background-color: #343b48; }
 .a { color: #051C17; background-color: #343b49; }
 .a { color: #051C17; background-color: #353b49; }
 .a { color: #061E18; background-color: #373d4c; }
 .a { color: #061E18; background-color: #38404f; }
 .a { color: #061E18; background-color: #39404f; }
 .a { color: #061E18; background-color: #3a4151; }
 .a { color: #061E18; background-color: #3a4251; }
 .a { color: #061E18; background-color: #3b4252; }
 .a { color: #061E18; background-color: #3c4454; }
 .a { color: #061E18; background-color: #3d4454; }
 .a { color: #061E18; background-color: #3d4455; }
 .a { color: #061E18; background-color: #3d4555; }
 .a { color: #061E18; background-color: #3e3e3e; }
 .a { color: #061E18; background-color: #3e4657; }
 .a { color: #061E18; background-color: #3f4758; }
 .a { color: #061E18; background-color: #404859; }
 .a { color: #061E18; background-color: #40485a; }
 .a { color: #07221C; background-color: #434c5e; }
 .a { color: #07221C; background-color: #485a6c; }
 .a { color: #07221C; background-color: #4a5367; }
 .a { color: #07221C; background-color: #4b5261; }
 .a { color: #07221C; background-color: #4c5362; }
 .a { color: #07221C; background-color: #4c5462; }
 .a { color: #07221C; background-color: #4d4d4d; }
 .a { color: #07221C; background-color: #4d525b; }
 .a { color: #07221C; background-color: #4e586d; }
 .a { color: #07221C; background-color: #505359; }
 .a { color: #07221C; background-color: #505a70; }
 .a { color: #07221C; background-color: #555653; }
 .a { color: #07221C; background-color: #555761; }
 .a { color: #07221C; background-color: #58647c; }
 .a { color: #07221C; background-color: #59647b; }
 .a { color: #07221C; background-color: #5f88b0; }
 .a { color: #07221C; background-color: #61697a; }
 .a { color: #07221C; background-color: #63708b; }
 .a { color: #07221C; background-color: #666; }
 .a { color: #07221C; background-color: #667885; }
 .a { color: #07221C; background-color: #667f8c; }
 .a { color: #07221C; background-color: #6c6f75; }
 .a { color: #07221C; background-color: #707888; }
 .a { color: #07221C; background-color: #7094b9; }
 .a { color: #082620; background-color: #7397ba; }
 .a { color: #082620; background-color: #7491ae; }
 .a { color: #082620; background-color: #7e7e7e; }
 .a { color: #082620; background-color: #7e8087; }
 .a { color: #082620; background-color: #7e8594; }
 .a { color: #082620; background-color: #808690; }
 .a { color: #082620; background-color: #809bbd; }
 .a { color: #082620; background-color: #888a85; }
 .a { color: #082620; background-color: #8e95a4; }
 .a { color: #082620; background-color: #9299a6; }
 .a { color: #082620; background-color: #92aec9; }
 .a { color: #082620; background-color: #95a3ab; }
 .a { color: #082620; background-color: #98abb2; }
 .a { color: #082620; background-color: #9ca4b1; }
 .a { color: #082620; background-color: #a3bbd2; }
 .a { color: #082620; background-color: #a5a5a5; }
 .a { color: #082620; background-color: #a7b5cd; }
 .a { color: #082620; background-color: #a9afbc; }
 .a { color: #082620; background-color: #abacae; }
 .a { color: #092A24; background-color: #b3bac7; }
 .a { color: #092A24; background-color: #b3c6d9; }
 .a { color: #092A24; background-color: #b4c7da; }
 .a { color: #092A24; background-color: #b9bfcb; }
 .a { color: #092A24; background-color: #bac1cd; }
 .a { color: #092A24; background-color: #c0d0e0; }
 .a { color: #092A24; background-color: #c5d4e3; }
 .a { color: #092A24; background-color: #c8ceda; }
 .a { color: #092A24; background-color: #ccd9e6; }
 .a { color: #A7CEC8; background-color: #d4d4d4; }
 .a { color: #A7CEC8; background-color: #d5d5d5; }
 .a { color: #A7CEC8; background-color: #d8dee9; }
 .a { color: #A7CEC8; background-color: #d9e2ec; }
 .a { color: #A7CEC8; background-color: #e5ebf2; }
 .a { color: #A7CEC8; background-color: #ebebeb; }
 .a { color: #A7CEC8; background-color: #ececec; }
 .a { color: #A7CEC8; background-color: #eeeeee; }
 .a { color: #A7CEC8; background-color: #f1f1f1; }
 .a { color: #A7CEC8; background-color: #f2f5f8; }
 .a { color: #D2E7E4; background-color: #f9fafb; }
 .a { color: #D2E7E4; background-color: #fafafa; }
 .a { color: #D2E7E4; background-color: #fefefe; }
 .a { color: #031A16; background-color: #0e141f; }
 .a { color: #031A16; background-color: #2e3440; }
 .a { color: #3E4C96; background-color: #002e99; }
 .a { color: #3E4C96; background-color: #0d52bf; }
 .a { color: #3E4C96; background-color: #5e81ac; }
 .a { color: #3E7996; background-color: #3689e6; }
 .a { color: #3E7996; background-color: #63adc2; }
 .a { color: #3E7996; background-color: #64baff; }
 .a { color: #082620; background-color: #81a1c1; }
 .a { color: #3E7996; background-color: #8cd5ff; }
 .a { color: #883E96; background-color: #b48ead; }
 .a { color: #3E9688; background-color: #88c0d0; }
 .a { color: #4C963E; background-color: #007367; }
 .a { color: #4C963E; background-color: #00e8c6; }
 .a { color: #4C963E; background-color: #0e9a83; }
 .a { color: #4C963E; background-color: #206b00; }
 .a { color: #4C963E; background-color: #28bca3; }
 .a { color: #4C963E; background-color: #3a9104; }
 .a { color: #4C963E; background-color: #43d6b5; }
 .a { color: #4C963E; background-color: #68b723; }
 .a { color: #4C963E; background-color: #9bdb4d; }
 .a { color: #4C963E; background-color: #a3be8c; }
 .a { color: #883E96; background-color: #452981; }
 .a { color: #883E96; background-color: #7239b3; }
 .a { color: #883E96; background-color: #a56de2; }
 .a { color: #883E96; background-color: #bf616a; }
 .a { color: #883E96; background-color: #cd9ef7; }
 .a { color: #883E96; background-color: #f4679d; }
 .a { color: #883E96; background-color: #fe9ab8; }
 .a { color: #3E965B; background-color: #89ffdd; }
 .a { color: #963E4C; background-color: #3c181c; }
 .a { color: #963E4C; background-color: #3d211b; }
 .a { color: #963E4C; background-color: #442116; }
 .a { color: #963E4C; background-color: #7a0000; }
 .a { color: #963E4C; background-color: #910e38; }
 .a { color: #963E4C; background-color: #963E4C; }
 .a { color: #963E4C; background-color: #a10705; }
 .a { color: #963E4C; background-color: #a62100; }
 .a { color: #963E4C; background-color: #a9444e; }
 .a { color: #963E4C; background-color: #b84f59; }
 .a { color: #963E4C; background-color: #bc245d; }
 .a { color: #963E4C; background-color: #c6262e; }
 .a { color: #963E4C; background-color: #cc3b02; }
 .a { color: #963E4C; background-color: #de3e80; }
 .a { color: #963E4C; background-color: #e4c6fa; }
 .a { color: #963E4C; background-color: #ed5353; }
 .a { color: #963E4C; background-color: #ff8c82; }
 .a { color: #96883E; background-color: #57392d; }
 .a { color: #96883E; background-color: #715344; }
 .a { color: #96883E; background-color: #8a715e; }
 .a { color: #96883E; background-color: #a3907c; }
 .a { color: #96883E; background-color: #ad5f00; }
 .a { color: #96883E; background-color: #c3674a; }
 .a { color: #96883E; background-color: #d1ff82; }
 .a { color: #96883E; background-color: #d48e15; }
 .a { color: #96883E; background-color: #ebcb8b; }
 .a { color: #96883E; background-color: #f37329; }
 .a { color: #96883E; background-color: #f9c440; }
 .a { color: #96883E; background-color: #ffa154; }
 .a { color: #96883E; background-color: #ffc27d; }
 .a { color: #96883E; background-color: #ffe16b; }
 .a { color: #96883E; background-color: #fff394; }
 .a { color: #96883E; background-color: #ffffff; }
 .a { color: #D2E7E4; background-color: #8fbcbb; }
 .a { color: #D2E7E4; background-color: #fff; }