* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8pt;
  font-weight: bold;
  border-radius: 0px;
  transition-property: background-color;
  transition-duration: 0.5s;
}
@keyframes blink_red {
  to {
    background-color: '<| color.waybar.blinkRedBg |>';
    color: '<| color.waybar.blinkRedFg |>';
  }
}
.warning, .critical, .urgent {
  animation-name: blink_red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
window#waybar {
  background-color: transparent;
}
window > box {
  margin: 0 0px;
  background-color: '<| color.waybar.bgWithTransparency |>';
}
#workspaces {
  margin: 0 0px;
}
#workspaces button {
  min-width: 25px;
  min-height: 18px;
  padding: 0 0px;
}
#workspaces button.focused {
  background-color: '<| color.waybar.workspaceFocusedBg |>';
  color: '<| color.waybar.workspaceFocusedFg |>';
}
#workspaces button.urgent {
  color: '<| color.waybar.workspaceUrgentFg |>';
}
#workspaces button:hover {
  background-color: '<| color.waybar.workspaceHoverBg |>';
  color: '<| color.waybar.workspaceHoverFg |>';
}
tooltip {
  background: '<| color.waybar.tooltipBg |>';
}
tooltip label {
  color: '<| color.waybar.tooltipLabelFg |>';
}
#mode, #clock, #memory, #temperature,#cpu,#custom-music, #idle_inhibitor, #temperature, #backlight, #pulseaudio, #network, #battery, #custom-powermenu, #custom-cava-internal {
  padding-left: 8px;
  padding-right: 8px;
}
#memory {
  color: '<| color.waybar.memory |>';
}
#cpu {
  color: '<| color.waybar.cpu |>';
}
#clock {
  color: '<| color.waybar.clock |>';
}
#idle_inhibitor {
  color: '<| color.waybar.idleInhibitor |>';
}
#temperature {
  color: '<| color.waybar.temperature |>';
}
#backlight {
  color: '<| color.waybar.backlight |>';
}
#pulseaudio {
  color: '<| color.waybar.pulseAudio |>';
}
#network {
  color: '<| color.waybar.network |>';
}
#network.disconnected {
  color: '<| color.waybar.networkDisconnected |>';
}
#tray {
  padding-right: 8px;
  padding-left: 10px;
}
#window {
  color: '<| color.waybar.windowFg |>';
}
#custom-music {
  color: '<| color.waybar.customMusic |>';
}
